@font-face {
	font-family: custom-font;
	src: url("./assets/blockletter.regular.otf") format("truetype");
}

@font-face {
	font-family: custom-roboto;
	src: url("./assets/Roboto-Medium.ttf") format("truetype");
}

html {
	scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: gainsboro;
}
